@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased font-mont;
}

.button {
  @apply flex flex-row items-center justify-center px-12 py-6 font-normal leading-tight tracking-widest text-center text-white uppercase transition duration-300 bg-eg-blue font-ant;
}

.button.black {
  @apply bg-eg-black;
}

.button:hover {
  @apply bg-white cursor-pointer text-eg-blue;
}

.modal {
  @apply fixed inset-0 z-50 w-full h-full transition-all duration-300 transform scale-90 opacity-0 pointer-events-none;
}

.modal--open {
  @apply scale-100 opacity-100 pointer-events-auto;
}

.btt {
  @apply fixed bottom-0 right-0 z-40 mb-4 mr-4 text-white transition-all duration-300 opacity-0 pointer-events-none bg-eg-blue;
}

.btt--open {
  @apply opacity-100 pointer-events-auto;
}

.loader {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.loader:after {
  content: " ";
  display: block;
  width: 30px;
  height: 30px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.frontmatter-markdown {
  line-height: 2;
}

.frontmatter-markdown p {
  margin-bottom: 1.5rem;
}

.frontmatter-markdown p:last-of-type {
  margin-bottom: 0;
}
